@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maincolor: lightblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  max-width:800px;
  margin:auto;
  margin-block:50px;
  padding:50px;
  border:solid 1px #303030;
  border-radius: 15px;
  background-color:#101010;
  display:grid;
  gap:5px;
}

h2, h1{
  font-weight:bold !important;
  margin-bottom:20px;
}

ul{
  border:solid 1px #303030;
  padding:10px;
  border-radius:10px;
}

a:link{
  color:var(--maincolor);
  text-decoration: underline;
}

a:active{
  color:var(--maincolor);
}

a:visited{
  color:var(--maincolor);
}

a:hover{
  color:yellow;
}
